profiles {
  rabbit {
    singularity.enabled = true
    singularity.autoMounts = true
    singularity.cacheDir = ~/singularity_containers/
    docker.enabled = false
    podman.enabled = false
    shifter.enabled = false
    charliecloud.enabled = false
    params.accession = "SRR12718173"
  }
  kitten {
    singularity.enabled = true
    singularity.autoMounts = true
    singularity.cacheDir = ~/singularity_containers/
    docker.enabled = false
    podman.enabled = false
    shifter.enabled = false
    charliecloud.enabled = false
  }
}
